.weatherAppContainer{
    margin-top: 95px;
    padding: 3em 0;
    min-height: calc(100vh - 185px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: soft-light ;
    background-image: radial-gradient(circle farthest-side, #ffd06b 30%,#ffbd30 100%);
}
.weatherApp{
    width: 360px;
    height: 460px;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 6px 12px 8px rgba(143, 143, 143, 0.4);
    background: linear-gradient(120deg, #ffde08 8%,#fcc632 30%, #ffae41 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}