.weatherAppContainer {
    font-size: 1rem;
    margin-top: 95px;
    padding: 3em 0;
    min-height: calc(100vh - 185px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerHighTemp {
    background-blend-mode: soft-light;
    background-image: radial-gradient(circle farthest-side, #ffd06b 30%, #ffbd30 100%);
}

.containerLowTemp {
    background-blend-mode: soft-light;
    background-image: radial-gradient(circle farthest-side, #81c9fa 30%,#2196f3 100%);
}

.weatherApp {
    width: 360px;
    height: 460px;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 6px 12px 8px rgba(143, 143, 143, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.appHighTemp{
    background: linear-gradient(120deg, #ffde08 8%, #fcc632 30%, #ffae41 100%);
}
.appLowTemp{
    background: linear-gradient(120deg, #3dc9f2 8%, #00a7dc 30%,#00a7dc 70%, #0199d2 90%);
}

@media only screen and (max-width:575px) {
    .weatherAppContainer{
        font-size: .9rem;
        padding: 1.5em 0;

    }
    .weatherApp{
        width: 330px
    }
}
@media only screen and (min-width:576px) and (max-width:768px) {
    .weatherAppContainer{
        padding: 1.5em 0;
    }
}
@media only screen and (min-width:768px) and (max-width:992px) {
    .weatherAppContainer{
        padding: 1.5em 0;
    }
}