.search {
    font-size: 1rem;
    width: 70%;
    font-family: 'Lexend', sans-serif;
    z-index: 30;
}

.search__container {
    position: relative;
    display: flex;
    justify-content: center;
}

.search__container__input {
    height: 35px;
    width: 210px;
    display: block;
    padding-left: 42px;
    font-size: 1.1em;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    background-color: rgb(240, 240, 240, 0.35);
    color: #FFF;
    border-style: none;
}
.search__container__input:focus{
    border: none;
    outline: none;
}
.search__container__input::placeholder{
    color: #FFF;
    font-size: 1em;
}
.search__container__icon{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #FFF;
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
}