.container {
    font-size: 1rem;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: rgba(114, 114, 114, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.settingsContainer {
    width: 640px;
    min-height: 300px;
    position: relative;
    padding: 1.2em 1em;
    border-radius: 10px;
    color: #fff;
    font-family: 'Lexend', sans-serif;
    background-color: #505050;
    filter: drop-shadow(1px 4px 8px #505050);
    animation-name: appear;
    animation-duration: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btnCloseSettings {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2.2em;
    background: none;
    border: none;
    color: #db4242;
}

.btnCloseSettings:hover {
    color: #eb4747;
}

.settingsContainer h2 {
    font-size: 1.75em;
    font-weight: 600;
    letter-spacing: 1px;
}

.settingsContainer h3 {
    font-size: 1.45em;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: .3em;
    border-bottom: 1px solid #fff;
    width: 90%;
}

.formSettings {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 90%;
    padding-top: .6em;
}

.formSettings__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.formSettings__section label {
    font-size: 1.25em;
}

.formSettings__section input {
    font-size: 1.1em;
    text-align: left;
    padding: 0 14px;
    border-radius: 6px;
    border: 1px solid #fff;
    outline: none;
    height: 34px;
    width: 200px;
    background: #505050;
    color: #fff;
}

.formSettings__section input:focus {
    outline: none;
}

.inputBlock{
    position: relative;
}

.inputDescription{
    position: absolute;
    left: 0px;
    top:39px;
}
.inputDescription{
    font-size: .8em;
    opacity: .8;
}

.formSettings__section button {
    margin: 0 auto;
}

.disappear {
    animation-name: disappear;
    animation-duration: .3s;
}

/* ANIMATIONS  */
@keyframes appear {
    0% {
        transform: scale(0.6);
        opacity: .6;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        transform: scale(1.16);
        opacity: .6;
    }
}

@media only screen and (max-width:575px) {
    .container {
        font-size: .9rem;
    }

    .settingsContainer {
        width: 95%;
        padding: 1.2em 0;
    }

    .formSettings__section label {
        font-size: 1.1em;
    }

    .formSettings__section input {
        width: 110px;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .container {
        font-size: .95rem;
    }

    .settingsContainer {
        width: 90%;
        padding: 1.2em 0;
    }

    .formSettings__section label {
        font-size: 1.2em;
    }

    .formSettings__section input {
        width: 180px;
    }
}