.button {
    border: none;
    height: 44px;
    width: 200px;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
    letter-spacing: 1px;
    color: #fff;
}

.disabled {
    opacity: .7;
}


.classic {
    background: var(--secundary);
}

.classic:hover {
    background: var(--secundaryHover);
}

.disabled.classic:hover {
    background: var(--secundary);
}


.close {
    background: var(--dangerRed);
}

.close:hover {
    background: var(--dangerRedHover);
}

.disabled.close:hover {
    background: var(--dangerRed);
}


.submit {
    background: var(--detailPurple);
}

.submit:hover {
    background: var(--detailPurpleHover);
}

.disabled.submit:hover {
    background: var(--detailPurple);
}


.transparent {
    background: transparent;
    outline: 1px solid #fff;
}