.button{
    border: none;
    height: 42px;
    width: 220px;
    border-radius: 4px;
    background: var(--detail);
    font-size: 1.1em;
    font-family: 'Lexend', sans-serif;

    color: #fff;
}
.button:hover{
    background: var(--detailHover);
}
.disabled{
    opacity: .8;
    background: var(--detailHover)
}