.container{
    margin-top: 60px;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.message{
    margin-top: 3em;
    font-size: 1.6em;
    color: var(--font);
}
.spinnerContainer{
    justify-self: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.spinnerText{
    font-size: 1.2em;
    color: var(--font);
}
.icon{
    font-size: 2.5em;
    color: var(--font);
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 1s;

}
@keyframes rotate {
    0% {transform: rotate(360deg);}
}