.homeContainer{
    font-size: 1rem;
    margin-top: 95px;
    min-height: calc(100vh - 185px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
.homeCardsContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1em;

}