.homeContainer {
    font-size: 1rem;
    margin-top: 60px;
    min-height: calc(100vh - 140px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.homeCardsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 1.5em;
}

@media only screen and (max-width:575px) {
    .homeCardsContainer {
        font-size: .8rem;
        flex-direction: column;
        align-items: center;
        padding: 2em 0;
        gap: 2em;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .homeCardsContainer {
        font-size: .9rem;
        padding: 3em 0;
        gap: 2em;
    }

}

@media only screen and (min-width:768px) and (max-width:992px) {
    .homeCardsContainer {
        padding: 3em 0;
    }
}