.container{
    margin-top: 60px;
    min-height: calc(100vh - 110px);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-family: 'Lexend', sans-serif;
}
.title{
    font-size: 2.9em;
    letter-spacing: 1px;
    color: var(--detailPurple);
}
.formContact{
    width: 750px;
    display: flex;
    flex-direction: column;
    padding: .8em .5em;
    gap: .8em;
}
.formContact__input{
    height: 46px;
    border: none;
    padding-left: 20px;
    font-size: 1em;
    font-family: 'Lexend', sans-serif;
    color: #fff;
    background: var(--inputBackground);
    border-radius: 4px;
}
.formContact__input::placeholder{
    font-size: 16px;
    color: #fff;
    opacity: .9;
}
.formContact__input:focus{
    outline: 2px solid var(--inputOutline);
}
.formContact__textarea{
    resize: none;
    padding:8px 20px;
    height: 140px;
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    border: none;
    background: var(--inputBackground);
    color: #fff;
    border-radius: 4px;
}
.formContact__textarea::placeholder{
    font-size: 16px;
    color: #fff;
    opacity: .9;
}
.formContact__textarea:focus{
    border: none;
    outline: 2px solid var(--inputOutline);
    font-size: 16px;
}

.formInputError{
    outline: 2px solid var(--dangerRed);
}
.formInputError:focus{
    outline: 2px solid var(--dangerRed);
}

.formContact__submit{
    border: none;
    height: 42px;
    border-radius: 4px;
    background: var(--detailPurple);
    font-size: 1em;
    color: #fff;
}
.formContact__submit:hover{
    background: var(--detailPurpleHover);
}
@media only screen and (max-width:575px) {
    .title{
        font-size: 2.4em;
    }
    .formContact{
        width: 90%;
    }
}
@media only screen and (min-width:576px) and (max-width:768px) {
    .formContact{
        width: 80%;
    }
    .title{
        font-size: 2.6em;
    }
}