.exchangeAppContainer {
    font-size: 1rem;
    margin-top: 60px;
    min-height: calc(100vh - 120px);
    width: 100vw;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width:575px) {
    .exchangeAppContainer {
        font-size: .9rem;
        padding: 1.5em 0;
        margin-top: 60px;
    }

}

@media only screen and (min-width:576px) and (max-width:768px) {
    .exchangeAppContainer {
        font-size: .9rem;
        padding: 1.5em 0;
    }

}

@media only screen and (min-width:768px) and (max-width:992px) {
    .exchangeAppContainer {
        font-size: .9rem;
        padding: 1.5em 0;
    }

}