.calculator {
    width: 750px;
    background: var(--backgroundContent);
    border-radius: 6px;
    box-shadow: 0 1px 6px 1px var(--shadowBackgroundSecundary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1em 1.5em;
    gap: 1.4em;
}

.title{
    color: var(--font);
    font-size: 1.7em;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    align-self: center;
    font-family: 'Lexend', sans-serif;

}

.formCalculator {
    color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lexend', sans-serif;
}

.formCalculator__coin {
    display: flex;
    align-items: center;
}

.formCalculator__coin__info {
    background-color: #003c80;
    width: 90px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formCalculator__coin__info__name {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0px;
}

.formCalculator__coin__input {
    width: 10.8em;
    height: 50px;
    font-size: 1.3em;
    text-align: left;
    padding-left: 20px;
    color: #fff;
    font-weight: 500;
    border-style: none;
    outline: transparent;
    background-color: var(--inputBackground);
    transition: .2s ease;

}

.formCalculator__coin__input:focus {
    outline: 1px solid #003c80;
}

.formCalculator__coin__input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.formCalculator__exchange {
    font-size: 1.4em;
    cursor: pointer;
    background: none;
    color: #003c80;
    border: none;
}

.currencyConverted {
    width: 100%;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    display: flex;
    justify-content: space-between;
    color: var(--font);

}

.currencyConverted__values {
    height: 40px;
    width: 16em;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
}

.convert {
    text-align: right;
}

.converted {
    text-align: left;
}

.currencyConverted__icon {
    /* justify-self: center; */
}


@media only screen and (max-width:575px) {
    .calculator {
        min-width: auto;
        width: 92%;
        padding: 1.5em .5em;
    }
    .formCalculator {
        flex-direction: column;
        gap: 1.2em;
    }

    .formCalculator__coin {
        width: 100%;
        justify-content: center;
    }

    .formCalculator__coin__input {
        width: 60%;
    }

    .currencyConverted {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .currencyConverted__icon {
        /* background-color: red; */
    }

    .currencyConverted__values {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .convert {
        text-align: center;
    }

    .converted {
        text-align: center;
    }

}

@media only screen and (min-width:576px) and (max-width:768px) {

    .calculator {
        min-width: auto;
        width: 90%;
        padding: 1.5em 1em;

    }

    .formCalculator {
        flex-direction: column;
        gap: 1.2em;
    }

    .formCalculator__coin {
        width: 100%;
        justify-content: center;
    }

    .formCalculator__coin__input {
        width: 70%;
    }

    .currencyConverted__values {
        min-width: 12em;
        width: auto;
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {

    .calculator {
        min-width: auto;
        width: 700px;
        padding: 1.5em 1.5em;
    }

    .formCalculator__coin__input {
        min-width: 8em;
        max-width: 14em;
    }
}