.informationContainer {
    height: auto;
    width: 1000px;
    padding: .5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    /* gap: .8em; */
    /* box-shadow: 0 1px 6px 0px var(--shadowBackgroundSecundary); */

}

.title {
    color: var(--font);
    font-size: 1.6em;
    font-weight: 500;
    align-self: center;
    margin-bottom: .5em;
}




@media only screen and (max-width:575px) {

    .informationContainer {
        width: 85%;
        font-size: .9rem;
    }


}

@media only screen and (min-width:576px) and (max-width:768px) {
    .informationContainer {
        width: 90%;
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .informationContainer {
        width: 95%;
    }

}