.informationContainer {
    height: auto;
    width: 1000px;
    padding: .5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    gap: .9em;
}

.title {
    color: var(--font);
    font-size: 1.6em;
    font-weight: 500;
    align-self: center;
}

.currencyInformation {
    color: var(--font);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: .5em 1em;
    background: var(--backgroundContent);
    box-shadow: 0 1px 4px 0px var(--shadowBackgroundSecundary);
    gap: .5em;
    font-size: 1em;
}

.currencyTitle {
    height: 36px;
}

.btnCurrencyShowInformation {
    background: none;
    border: none;
    width: 100%;
    height: 38px;
    font-family: 'Lexend', sans-serif;
    text-align: left;
    font-size: 1em;
    font-weight: 500;
    color: var(--font);
    padding-left: .7em;
    cursor: pointer;
}

.arrowIcon {
    margin-left: .4em;
    font-size: 1.1em;
}

.border_bottom {
    border-bottom: 1px solid var(--outlineContent);
}

.currencyInformationContainer {
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0 .7em;
    align-items: center;
    overflow: hidden;
    animation-duration: .3s;

}

.currencyInformation__data {
    width: 250px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--backgoundSecundary);
    border-radius: 4px;
    color: #fff;
    padding: .6em .8em;
}

.currencyInformation__data__variation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    font-size: 1em;
    font-weight: 600;
}

.currencyInformation__data__variation span {
    display: flex;
    gap: 7px;
}

.variationUp {
    color: #0ebe0e;
    font-size: 1.2em;

}

.variationDown {
    color: var(--dangerRed);
    font-size: 1.2em;

}

.currencyInformation__data__value {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    font-size: 1em;
    font-weight: 600;
}

.currencyInformation__data__date {
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    margin-top: .8em;
}

.currencyInformation__historicData {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 180px;
}

.currencyInformation__historicData h4 {
    width: 100%;
    text-align: center;
    margin-bottom: .6em;
    font-size: .95em;
    font-weight: 500;
}

.currencyInformation__historicData__value {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    gap: 2px;
}

.currencyInformation__graph {
    height: 130px;
    width: 400px;
}

.description {
    font-size: .8em;
    width: 80px;
    text-align: center;
    font-weight: 300;
}

.disappear {
    animation-name: disappear;
}

.appear {
    animation-name: appear;
}

/* ANIMATIONS  */
@keyframes appear {
    0% {
        height: 0px;
        opacity: .3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes disappear {

    100% {
        height: 0px;
        opacity: .3;
    }
}

@media only screen and (max-width:575px) {

    .informationContainer {
        width: 90%;
        font-size: .95rem;
    }

    .currencyInformation {
        flex-direction: column;
        width: 92%;
        padding: 1em 1em;
        gap: 1.3em;
    }

    .currencyInformationContainer {
        flex-direction: column;
        height: 350px;
        align-items: center;
        gap: 14px;
        /* animation: none; */
    }

    .currencyInformation__data {
        width: 90%;
        justify-content: space-around;
    }

    .currencyInformation__data__date {
        text-align: center;
    }

    .currencyInformation__historicData {
        width: 90%;
        justify-content: space-around;
    }

    .currencyInformation__graph {
        width: 90%;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .informationContainer {
        width: 95%;
    }

    .currencyInformation {
        flex-direction: column;
        width: 92%;
        padding: 1em 1em;
        gap: 1.2em;
    }

    .currencyInformationContainer {
        flex-direction: column;
        height: 350px;
        align-items: center;
        gap: 14px;
    }

    .currencyInformation__data {
        width: 350px;
        justify-content: space-around;
    }

    .currencyInformation__data__date {
        text-align: center;
    }

    .currencyInformation__historicData {
        width: 350px;

        justify-content: space-around;
    }

    .currencyInformation__graph {
        width: 90%;
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .informationContainer {
        width: 95%;
    }

    .currencyInformation {
        flex-direction: column;
        width: 92%;
        padding: 1em 1em;
        gap: 1.5em;
    }

    .currencyInformationContainer {
        flex-direction: column;
        height: 350px;
        align-items: center;
        gap: 14px;
    }

    .currencyInformation__data {
        width: 400px;
        justify-content: space-around;
    }

    .currencyInformation__data__date {
        text-align: center;
    }

    .currencyInformation__historicData {
        width: 400px;
        justify-content: space-around;
    }

    .currencyInformation__graph {
        width: 500px;
    }
}