@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800&display=swap');

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);
    transition: .25s ease;
}

.app {
    --background: #dde2e7;
    --backgoundSecundary:#0c64b1;
    --backgroundContent: #ebebeb;
    --shadowBackgroundSecundary:#147bd466;
    --secundary: #0c64b1;
    --secundaryHover: #0c71ca;
    --backgroundGray: #888080;
    --detailPurple: #753eb4;
    --detailPurpleHover: #8044c4;
    --border:#c5c5c5;
    --borderHover:#ebebeb;
    --dangerRed:#db4242;
    --dangerRedHover:#eb4747;
    --font:#333333;
    --inputBackground:#1783e2;
    --inputOutline: #753eb4;
}
.app.dark{
    --background:#393e41;
    --backgoundSecundary:#6b6b6b;
    --backgroundContent: #646464;

    --shadowBackgroundSecundary:#6b6b6b00;

    --font:#fff;
    --inputBackground:#838383;
    --inputOutline: #c8c5cc;
}